// GALLERY ============================== //
// Lightbox
.lightbox {
  .lb-image {
    border: 0;
    border-radius: 0.4rem;
  }

  .lb-outerContainer {
    background-color: transparent;
    border-radius: 0.4rem;
  }
}
